.vs
.vs/*

*~
Source/PointOfSal.UI.Web/logs/*
_references.js
obj
bin
log
logs
build
packages
node_modules
PublishProfiles
TestResults
_ReSharper.*
*.csproj.user
*.resharper.user
*.suo
*.cache
*.swp
*.dotCover
*.vcxproj.user
*.sdf
*.opensdf
*.dbmdl
*.DotSettings.user
OADSI.exe.config
*.ncrunchsolution
*.ncrunchproject
*.ncrunchsolution.user
*.sqlproj.user
*.orig
*.log
*.nupkg
.vs
Source/PointOfSale.UI.Web/log4net.config
Source/PointOfSale.UI.Web/log4net.Release.config
Source/PointOfSale.UI.Web/src/fonts
Source/PointOfSale.UI.Web/src/styles/base/_sftpicons.scss

*/PointOfSale.UI.Web/dist
